h1, 
h2, 
h3, 
h4, 
.body_1, 
.body_2 {
    font-weight: 700;
}

h3, h4, .timer-handle-button {
    text-transform: uppercase;
}

.timer-handle-button {
    font-weight: 700;
    z-index: 2; /* Not to be covered by the SVG progress element which has a z-index of 1 */
}

button:hover {
    cursor: pointer;
}

.timer-handle-button:hover {
    color: var(--primary-color);
}


h1 {
    font-size: 100px;
    line-height: 120px;
    letter-spacing: -5px;
    color: #D7E0FF;
}

h1.heading {
    font-size: 32px;
    text-align: center;
    letter-spacing: unset;
    text-transform: lowercase;
}

h2 {
    font-size: 100px;
    line-height: 34px;
}

h3, .timer-handle-button {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 15px;
    color: #D7E0FF;
    font-family: var(--primary-font);
}

h4 {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 5px;
}

.body-1 {
    font-size: 14px;
    line-height: 18px;
}

.body-2 {
    font-size: 12px;
    line-height: 14px;
}