:root {
    --color-red:#F87070;
    --color-blue:#70F3F8;
    --color-purple:#D881F8;
    --color-gray:#D7E0FF;
    --color-dark-blue:#1E213F;

    --font-1:'Kumbh Sans',sans serif;
    --font-2:'Roboto Slab',sans serif;
    --font-3:'Space Mono',sans serif;
}