* {
    margin:0;
    Padding:0;

}

.progress {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
    transform: rotate(-90deg);
    border: 1px solid red;
}

.progress-circle {
    /* stroke-dasharray: 189; 
    stroke-dashoffset:189; */
}