@import './_fonts.css';
@import './_variables.css';
@import './_variables.css';
@import './_typography.css';
@import './_layout.css';


* {
    margin:0;
    Padding:0;
}

body {
    font-family:var(--font-1);
    /* font-family:var(--font-2); */
    /* font-family:var(--font-3); */
    /* background-color: #1E213F; */
    background-color: #1E213F;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
}


/** Timer Settings component*/
.timer-states {
    width:373px;
    margin: 0 auto;
    display: flex;
    background-color: #161932;
    border-radius: 100px;
    padding: 10px;
}

.timer-states .state  {
    outline: none;
    border: none;
    flex: 1;
    text-align: center;
    padding: 15px 16px;
    background-color: transparent;
    color: #D7E0FF;
    font-weight: 700;    
}

.timer-states .state.current {
    background-color: var(--primary-color);
    color:var(--color-dark-blue);
    border-radius: 100px;
}

.timer-states .state:not(.current) {
    opacity: 0.5;
}

.timer-states .state.current:hover {
    cursor: default;
}


.timer-states .state:not(.current):hover {
    opacity: 1;
    cursor: pointer;
}



/** The container for the counter  */
.counter-container {
    width: 366px;
    height: 366px;
    border-radius: 50%;
    background-color: #161932;
    position: relative;
    margin: 50px auto 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.counter-container::after {
    content:'';
    position: absolute;
    width: 112%;
    height: 112%;
    top: -6%;
    left: -6%;
    z-index: -1;
    background: linear-gradient(135deg, #0E112A, #2E325A);
    border-radius: 50%;
}

/** Circle progress  */
.progress {
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    stroke: var(--primary-color);
}


/** Settings gear*/
.settings-btn-container {
    text-align: center;
    margin-top: 120px;
}

button.settings-btn {
    margin-top: 60px;
    display: inline-block;
    margin: 0 auto;
    width: 27px;
    height: 28px;
    fill:#D7E0FF;
    opacity: 0.5;
}

button.settings-btn:hover {
    cursor: pointer;
}

button.settings-btn:hover {
    fill:#D7E0FF;
    opacity: 1;
}


/** Card component*/
.card {
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 540px;
    margin: 0 auto;
}

.border-bottom {
    border-bottom: 1px solid #E3E1E1;
}

button.apply-btn {
    background-color: var(--primary-color);
    color: #fff;
    box-sizing: content-box;
    border-radius: 100px;
    padding: 20px 50px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 100%;
    font-weight: 700;
    position: relative;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
}